:root {
  --main-white-color: #ffffff;
  --secondary-color: #f5f4fa;
  --extra-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --buttons-color: #f5f4fa;
  --time: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.flex-list {
  display: flex;
  justify-content: space-between;
}

.flex-list > .flex-item + .flex-item,
.flex-list > .flex-img + .flex-img,
.flex-list > .names + .names {
  margin-left: 30px;
}

body {
  margin: 0;
  background-color: var(--main-white-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style-type: none;
}

.no-padding {
  padding-top: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section:nth-child(2n + 4) {
  background-color: var(--buttons-color);
}

.header-padd {
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation-list .current {
  position: relative;
  color: var(--extra-color);
}

.navigation-list .current::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 29px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--extra-color);
}

.header-flex {
  display: flex;
}

.nav-flex {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.auth-list {
  margin-left: auto;
}

.nav-list > .nav-item + .nav-item,
.auth-list > .nav-item + .nav-item {
  margin-left: 50px;
}

.header-letter {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header-letter:hover,
.header-tel:hover {
  fill: currentColor;
}

.header-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-flex {
  display: flex;
  align-items: center;
}

.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  list-style-type: none;
}

.navigation-list .link {
  display: block;
  color: var(--main-text-color);
  text-decoration: none;
}

.contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.hero {
  max-width: 1600px;
  letter-spacing: 0.06em;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heroimg.jpg");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.hero-name {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: var(--main-white-color);
  text-transform: uppercase;
}

.advantage-section {
  padding-top: 65px;
}

.advantages-icons {
  width: 70px;
  height: 70px;
  align-self: center;
  margin: 0 auto;
}

.thumb {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-color);
  margin-bottom: 30px;
}

.flex-item {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.advantages {
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
}

.flex-img {
  position: relative;
}

.we-do-bg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
}

.names-img {
  display: block;
  width: 100%;
}

.names {
  line-height: 1.2;
}

.names h3 {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.names p {
  margin-top: 10px;
  font-size: 16px;
  color: var(--secondary-text-color);
  text-align: center;
}

.names-desc {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.regular-customers {
  display: flex;
  justify-content: center;
}

.reg-customer + .reg-customer {
  margin-left: 30px;
}

.reg-customer {
  display: flex;
  width: 170px;
  height: 92px;
}

.regular-customers-box:hover,
.regular-customers-box:focus {
  border: 1px solid var(--extra-color);
  fill: var(--extra-color);
}

.regular-customers-box {
  display: flex;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  transition: border var(--time) var(--timing-function), fill var(--time) var(--timing-function);
}

.regular-custumers-items {
  width: 106px;
  height: 60px;
  margin: 0 auto;
}

.navigation-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logo {
  color: var(--extra-color);
}

.modal-button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-white-color);
  background-color: var(--extra-color);
  letter-spacing: 0.06em;
  cursor: pointer;
}

.main-headers {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.secondary-headers {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.social-icons-bg {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
}

.social-icons-bg + .social-icons-bg {
  margin-left: 10px;
}

.social-icons-item {
  width: 20px;
  height: 20px;
  align-self: center;
  margin: 0 auto;
}

.names-icons-bg {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color var(--time) var(--timing-function), fill var(--time) var(--timing-function);
}

.names-icons-bg:hover,
.names-icons-bg:focus {
  background-color: var(--extra-color);
  fill: var(--main-white-color);
}
/*# sourceMappingURL=main.css.map */