.header-padd {
  padding-top: 24px;
  padding-bottom: 25px;
}
.navigation-list .current {
  position: relative;
  color: var(--extra-color);
}
.navigation-list .current::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 29px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--extra-color);
}

.header-flex {
  display: flex;
}
.nav-flex {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  margin-left: 93px;
}
.auth-list {
  margin-left: auto;
}

.nav-list > .nav-item + .nav-item,
.auth-list > .nav-item + .nav-item {
  margin-left: 50px;
}

.header-letter {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.header-letter:hover,
.header-tel:hover {
  fill: currentColor;
}
.header-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-flex {
  display: flex;
  align-items: center;
}
.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  list-style-type: none;
}
.navigation-list .link {
  display: block;
  color: var(--main-text-color);
  text-decoration: none;
}

.contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  text-decoration: none;
}
