.social-icons {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
}
.social-icons-bg {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
}

.social-icons-bg + .social-icons-bg {
  margin-left: 10px;
}

.social-icons-item {
  width: 20px;
  height: 20px;
  align-self: center;
  margin: 0 auto;
}
.names-icons-bg {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color var(--time) var(--timing-function),
    fill var(--time) var(--timing-function);
}
.names-icons-bg:hover,
.names-icons-bg:focus {
  background-color: var(--extra-color);
  fill: var(--main-white-color);
}
